

<div>
<a  (click)="handleLeftClick()"><span class="glyphicon glyphicon-chevron-left"></span></a>
<button type="button" class="category-button btn btn-danger btn-sm" style="width:200px">{{category}}</button>
<a (click)="handleRightClick()"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


<!--
  // onClick function for left arrow changes category displayed on center button
    // moves the category one to the left in the categories dataset

  // center button displays current category

  // onClick function for right arrow changes category diaplayed on center button
    // moves current category one to the right in the categories dataset

  // content below the selector component re-renders when the category is changed



-->