<h4>Add a New Relationship</h4>
<!-- <div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="partner">Who are you in a relationship with?</label>
            <input
                    type="text"
                    id="partner"
                    class="form-control"
                    [ngModel]="relationship?.partner"
                    name="partner"
                    required>
        </div> -->
        <!-- <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button> -->
        <!-- <button class="btn btn-primary" type="submit">Post</button>
    </form>
</div> -->