<div>
 <h3>TRACKER</h3>
  <category-selector (onCategoryChange)="onCategoryChange($event)" [pageName]="pageName"></category-selector>
  <hr>

  <trackerVisualizationNeutral [categoryName]="categoryName" *ngIf="isCurrentCategory('Sarah')"></trackerVisualizationNeutral>
  <trackerVisualizationBad [categoryName]="categoryName" *ngIf="isCurrentCategory('Joe')"></trackerVisualizationBad>
  <trackerVisualizationGood [categoryName]="categoryName" *ngIf="isCurrentCategory('Mom')"></trackerVisualizationGood>


<!--   <tracker-visualization></tracker-visualization> -->
  <relationship-insights ></relationship-insights>
  <relationship-notifications></relationship-notifications>


</div>

<!-- [insightsArray]="currentRelationship.insights" -->