<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="content">What would you like to share?</label>
            <input
                    type="text"
                    id="content"
                    class="form-control"
                    [ngModel]="message?.content"
                    name="content"
                    required>
        </div>
        <!-- <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button> -->
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
</div>

<!-- The #f in the above form tag creates a local variable binding to the form.  The form data is now available and the input values can be access via dot notation.  We use that variable when we call the onSubmit(f) function by passing
the form input values to the onSubmit function as an argument
You can enter a variable data binding like that in any tag to make its content or form input available as a variale elsewhere in your code.
-->